.perk-card {
  height: 100%;
  box-shadow: none;

  &-subtitle {
    margin-top: 0.25rem;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    flex: 1;
    margin-top: 0.5rem;

    &-description {
      margin: 0;
    }

    &-timestamp {
      margin: 0;
    }
  }

  &-actions {
    padding: 1.5rem 1rem 1rem 1rem;
  }
}
