.perk-card {
  height: 100%;
  box-shadow: none;

  &-subtitle {
    margin-top: 0.25rem;
  }

  &-content {
    margin-top: 0.5rem;
    flex: 1;
  }

  &-actions {
    padding: 1.5rem 1rem 1rem 1rem;
  }
}
