<mat-card class="perk-card" [appCustomTheme]="perk.source.color">
  <mat-card-header>
    <mat-card-title class="mat-title-large">{{ perk.title }}</mat-card-title>

    @if (perk.discounts; as discounts) {
      <mat-card-subtitle class="perk-card-subtitle mat-title-medium">{{
        discounts
      }}</mat-card-subtitle>
    }
  </mat-card-header>

  <mat-card-content class="perk-card-content">
    @if (perk.description; as description) {
      <p class="perk-card-content-description mat-body-medium">
        {{ description }}
      </p>
    }

    <p class="perk-card-content-created mat-label-medium">
      {{ perk.createdAt | date }}
    </p>
  </mat-card-content>

  <mat-card-actions class="perk-card-actions">
    <a
      mat-stroked-button
      class="perk-card-action-button"
      target="_blank"
      [href]="perk.source.url"
    >
      <mat-icon>open_in_new</mat-icon>

      <span>{{ perk.source.title }}</span>
    </a>
  </mat-card-actions>
</mat-card>
