@use "@angular/material" as mat;

@mixin color($theme) {
  .app-perk-card {
    background-color: mat.get-theme-color($theme, primary-container);
    color: mat.get-theme-color($theme, on-primary-container);

    --mat-card-subtitle-text-color: #{mat.get-theme-color(
        $theme,
        on-primary-container
      )};
  }

  .app-perk-action-button {
    @include mat.button-color($theme, $color-variant: primary);
  }
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }
}
