$my-perks-brand-palette: (
  0: #000000,
  10: #241a00,
  20: #3e2e00,
  25: #4b3900,
  30: #594400,
  35: #674f00,
  40: #765b00,
  50: #947200,
  60: #b38b00,
  70: #d3a500,
  80: #f3c01a,
  90: #ffdf93,
  95: #ffefd0,
  98: #fff8f1,
  99: #fffbff,
  100: #ffffff,
  secondary: (
    0: #000000,
    10: #241a00,
    20: #3b2f0f,
    25: #473a19,
    30: #534523,
    35: #5f512e,
    40: #6c5d38,
    50: #86754f,
    60: #a18f66,
    70: #bca97f,
    80: #d9c598,
    90: #f6e0b2,
    95: #ffefd0,
    98: #fff8f1,
    99: #fffbff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #1e1b16,
    20: #33302a,
    25: #3e3b35,
    30: #4a4640,
    35: #56524b,
    40: #625e57,
    50: #7b766f,
    60: #959088,
    70: #b0aaa2,
    80: #ccc6bd,
    90: #e9e1d9,
    95: #f7f0e7,
    98: #fff8f1,
    99: #fffbff,
    100: #ffffff,
    4: #100e09,
    6: #16130e,
    12: #221f1a,
    17: #2d2a24,
    22: #38342f,
    24: #3c3933,
    87: #e0d9d0,
    92: #eee7de,
    94: #f4ede4,
    96: #faf2ea,
  ),
  neutral-variant: (
    0: #000000,
    10: #201b10,
    20: #353024,
    25: #413b2e,
    30: #4c4639,
    35: #585244,
    40: #655e4f,
    50: #7e7667,
    60: #989080,
    70: #b3aa99,
    80: #cfc5b4,
    90: #ece1cf,
    95: #faefdd,
    98: #fff8f1,
    99: #fffbff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);
