@use "@angular/material" as mat;
@use "palettes";
@use "app/component/perk-card/perk-card.component-theme";

@include mat.core();

$my-perks-theme-light: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: palettes.$my-perks-brand-palette,
      use-system-variables: true,
      system-variables-prefix: md-sys-color,
    ),
    typography: (
      use-system-variables: true,
      system-variables-prefix: md-sys,
    ),
  )
);

:root {
  @include mat.all-component-themes($my-perks-theme-light);
  @include mat.system-level-colors($my-perks-theme-light);
  @include mat.system-level-typography($my-perks-theme-light);

  @include perk-card.theme($my-perks-theme-light);
}

@include mat.typography-hierarchy($my-perks-theme-light);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media (prefers-color-scheme: dark) {
  $my-perks-theme-dark: mat.define-theme(
    (
      color: (
        theme-type: dark,
        primary: palettes.$my-perks-brand-palette,
        use-system-variables: true,
        system-variables-prefix: md-sys-color,
      ),
      typography: (
        use-system-variables: true,
        system-variables-prefix: md-sys,
      ),
    )
  );

  :root {
    @include mat.all-component-colors($my-perks-theme-dark);
    @include mat.system-level-colors($my-perks-theme-dark);
    @include mat.system-level-typography($my-perks-theme-dark);

    @include perk-card.color($my-perks-theme-dark);
  }
}
